<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="manifest" href=require("../../static/root/manifest.json"))
    title Our Index Page
  body
    h2 welcome to the index page
    p this page should have blue text
    div
      img(src=require("../../static/test.png"))
    p
      a(href="/about") check out our about page!
